<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-Commerce</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/toastr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-Commerce", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Opciones de Admin.<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ciudades", "Index", "Cities")</li>
                                <li>@Html.ActionLink("Empresas", "Index", "Companies")</li>
                                <li>@Html.ActionLink("Estados", "Index", "Departaments")</li>
                                <li>@Html.ActionLink("Estatus", "Index", "States")</li>
                                <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimientos<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ordenes", "IndexAdmin", "Orders")</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("User"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Opciones de Usuarios<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Bodegas", "Index", "Warehouses")</li>
                                <li>@Html.ActionLink("Categorias", "Index", "Categories")</li>
                                <li>@Html.ActionLink("Clientes", "Index", "Customers")</li>
                                <li>@Html.ActionLink("Impuestos", "Index", "Taxes")</li>
                                <li>@Html.ActionLink("Productos", "Index", "Products")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimientos<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ordenes", "Index", "Orders")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - E-Commerce - TecnicomputoZ</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (TempData["messagesaved"] != null)
    {
        <div>@TempData["messagesaved"]</div>
        <script type="text/javascript">
            (function () { toastr.success("Agregado"); })();
        </script>
    }
    @if (TempData["messagedelete"] != null)
    {
        <div>@TempData["messagedelete"]</div>
        <script type="text/javascript">
            (function () { toastr.error("Se elimino", "Eliminado"); })();
        </script>
    }
    @if (TempData["messageupdate"] != null)
    {
        <div>@TempData["messageupdate"]</div>
        <script type="text/javascript">
            (function () { toastr.warning("Actualizado"); })();
        </script>
    }
</body>
</html>
