@model ECommerce.Models.User

@{
    ViewBag.Title = "Inicio";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <marquee style="resize:20px">
                Proximamente la gran tienda ECommerce!...
            </marquee>
        </div>
    </div>
</div>


<div class="jumbotron">


    <div class="row">
        <div class="col-md-3">
            @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
            {
                <br />
                <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
            }
        </div>
        <div class="col-md-9">
            <h1 class="col-lg-offset-2">E-Commerce</h1>

            <p>Hola, Bienvenido...</p>
            @if (this.User.IsInRole("User"))
            {
                <p>@Html.DisplayFor(modelItem => Model.FullName)</p>
                <p> Su empresa es <a href="@Url.Action("Details" , "Companies",  new { id = Model.UserId })"> @Html.DisplayFor(modelItem => Model.Company.Name)</a> con sucursal en @Html.DisplayFor(modelItem => Model.City.Name)</p>
                <p><a href="#" class="btn btn-primary btn-large">Learn More</a></p>
            }
        </div>



    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
