@model ECommerce.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>
    <span style="font-family: verdana; font-size: 30px; font-weight: bold; font-style: italic; color: darkblue; line-height: 18px">
        @Html.DisplayFor(model => model.FullName)
    </span>
</h2>
<hr />
<div class="row">
    <div class="col-md-offset-1 col-md-7">
        <div class="row">
            <div class="col-md-5">
                <dl>
                    <dd>

                    </dd>
                </dl>
                <dl>
                    <dd>
                            @if (!string.IsNullOrEmpty(Model.Photo))
                            {
                                <img src="@Url.Content(Model.Photo)" class="media-object dp img-circle" alt="Image" style="width:250px; height:250px;max-width:100%; height:auto;" />
                            }
                            else
                            {
                                <h4 class="text-center">No hay foto registrada.</h4>
                            }
                    </dd>
                </dl>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <br />
                <br />
                <p></p>
                <dl>
                    <dt>
                        @if (!string.IsNullOrEmpty(Model.Company.Logo))
                        {
                            <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:150px;height:150px;max-width: 100%; height: auto;" />
                        }
                    </dt>
                    <dt><br /></dt>
                    <dt class="text-center">
                        <strong>@Html.DisplayFor(model => model.Company.Name)</strong>

                    </dt>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-md-pull-1 col-md-3">
        <h3>Datos de Usuario</h3>
        @*<span style="font-family: verdana; font-size: 15px; font-weight: bold;"></span>*@
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Company.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Company.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Departament.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Departament.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
        <hr />
        <a href="@Url.Action("Index" , "Users")" class="btn btn-warning"><i class="fa fa-backward"></i> Regresar</a>
        <a href="@Url.Action("Edit" , "Users",  new { id = Model.UserId })" class="btn btn-primary"><i class="fa fa-edit fa-lg"></i> Editar</a>

    </div>
</div>
