@model IEnumerable<ECommerce.Models.Product>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

<p>
    <a href="@Url.Action("Create" , "Products")" class="btn btn-success"><i class="fa fa-plus fa-lg"></i> Agregar</a>
</p>
<div class="row margin-b-2">
    @foreach (var item in Model)
            {
        <dl class="col-sm-6 col-md-3">
            <dd class="text-center">
                <a href="@Url.Action("Details" , "Products",  new { id = item.ProductId })">
                    @Html.DisplayFor(modelItem => item.Description)
                </a>
            </dd>
            <dd>
                <div class="row text-center">
                    <div>
                        @if (!string.IsNullOrEmpty(item.Image))
                        {
                            <a href="@Url.Action("Details" , "Products",  new { id = item.ProductId })">
                                <img src="@Url.Content(item.Image)" alt="Image" style="width:150px;height:150px;" />
                            </a>
                        }
                        else
                        {
                            <h4 style="color:darkred">No hay Foto</h4>
                        }
                    </div>
                </div>

            </dd>
            <dd class="text-center">
                @Html.DisplayFor(modelItem => item.BarCode)
            </dd>
            <dd class="text-center">                
            </dd>
            <dd class="text-center">
                @Html.DisplayFor(modelItem => item.Price)
            </dd>
            <dd class="text-center">
                @Html.DisplayFor(modelItem => item.Stock)
            </dd>
            <dd><p></p></dd>
            <dd class="text-center">
                <a href="@Url.Action("Edit" , "Products",  new { id = item.ProductId })" class="btn btn-primary"><i class="fa fa-edit fa-lg"></i></a>|
                <a href="@Url.Action("Details" , "Products",  new { id = item.ProductId })" class="btn btn-warning"><i class="fa fa-eye fa-lg"></i></a>|
                <a href="@Url.Action("Delete" , "Products",  new { id = item.ProductId })" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i></a>
            </dd>

        </dl>
    }
</div>






@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Tax.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Image))
            {
                <a href="@Url.Action("Details" , "Products",  new { id = item.ProductId })">
                    <img src="@Url.Content(item.Image)" alt="Image" style="width:100px;height:100px;" />
                </a>
            }
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td><div class="dropdown">
            <button id="editar-101" style="" class="btn btn btn-primary btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs"></i> <span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="editar-101">
                <li><a href="@Url.Action("Edit" , "Products",  new { id = item.ProductId })">Editar</a></li>
            <li><a href="#">Eliminar</a></li>
            </ul>
            </div>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>*@
