@model IEnumerable<ECommerce.Models.Order>

@{
    ViewBag.Title = "IndexAdmin";
}

<h2>IndexAdmin</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAdmin", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "DetailsAdmin", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "DeleteAdmin", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
